.hero {
  @extend .spacing-top-xl, .flex, .justify-between, .gap-base, .container;

  @include onTablet {
    flex-direction: column;
    text-align: center;
    align-items: center;

    img {
      order: -1;
    }
  }

  img {
    width: 450px;
    border-radius: 8px; 
  }

  .content {
    @extend .flex, .flex-column, .justify-center, .gap-base;
  
    h2 {
      color: $grey;
      font-size: 3.2rem;
      line-height: 5rem;
    }

    h3 {
      color: $grey;
      font-size: 2rem;
      line-height: 3rem;
    }
  
    p {
      color: $grey;
      line-height: 2.6rem;
    }

    @include onTablet {      
      margin-top: 4rem;
      align-items: center;

      p {
        font-size: 1.8rem;
        line-height: 2.6rem;
      }
    }
  }
}
