.hero {
  .container {
    justify-content: space-between;
    gap: 2rem;

    @include onMobile {
      flex-direction: column;
      text-align: center;
      align-items: center;

      img {
        order: -1;
      }
    }
  }

  img {
    width: 450px;
    border-radius: 8px;
    
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  
    h2 {
      color: $grey;
      font-size: 3.2rem;
      line-height: 5rem;
    }

    h3 {
      color: $grey;
      font-size: 2rem;
      line-height: 3rem;
    }
  
    p {
      color: $grey;
      line-height: 2.6rem;
    }

    @include onMobile {
      margin-top: 4rem;
      align-items: center;

      p {
        font-size: 1.8rem;
        line-height: 2.6rem;
      }
    }
  }
}
