<?php get_header(); ?>

<?php PageBanner(array(
  'title' => 'All {{pascalCase pluralName}}'
  )); 
?>

<ul>
<?php while(have_posts()): the_post(); ?>

<li><?php the_title() ?></li>

<?php endwhile; ?>
</ul>

<?php get_footer(); ?>