.related-section {
  header {
    border-bottom: 1px solid $tableBorderColor;
    margin-bottom: 1rem;
  }
  ul {
    grid-template-columns: repeat(auto-fit, 200px);
    
    @include onTablet {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    
    a {
      @extend .flex, .flex-column;

      position: relative;
      overflow: hidden;
      color: $white;
      
      img {
        transition: opacity 0.2s ease-out, transform 0.2s ease-out;
  
        &:hover {
          opacity: 0.95;
          transform: scale(1.02) rotate(1deg);
        }
      }
  
      span {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba($darkBlue, 0.3);
        padding: 4px 8px;
      }
    }
  }
}

