.cards {
  .container {
    display: flex;
    flex-direction: column;

    .header-cards {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.6rem; 
        color: $blueDark;
        font-size: 2rem;
        
        i {
          font-size: 2.4rem;
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;
        color: $blue;
        transition: color 0.3s ease-out;

        &:hover {
          color: $blueDark;
        }
      }
    }

  }

  .section-cards {
    padding: 2.8rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
}