.show {
  &.container {
    grid-template-columns: 3fr 5fr;
    gap: 2rem;
  }

  .content {
    h2 { @extend .text-center, .font-xl, .spacing-top-md; }
    .otherTexts { margin-top: 1rem; text-align: center; font-size: 1.4rem;}
  } 

  @include onTablet {
    &.container {
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
  }
}
