.show-filter {
  .container {
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: 2rem;
    color: $darkBlue;

    .images {
      max-width: 100%;
    }

    img {
      width: 100%;
    }

    .content {
      p {
        line-height: 2.6rem;
        font-size: 1.8rem;
        
      }
      
      h2 {
        margin: 1.6rem 0 0.5rem;
        font-size: 2rem;
        text-align: center;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        
        tr {
          &:hover {
            background-color: $lightBlue;
          }

        }

        td {
          &:first-child{
            width: 50%;
          }

          padding: 4px 0;
          border-top: 1px solid $tableBorderColor !important;
          border-bottom: 1px solid $tableBorderColor !important;
          cursor: default;
        }

        .borderless {
          tr {
            border: none;

            &:last-child {
              td {
                border-bottom: none !important;
              }
            }
          }

          td {
            border-top: none !important;
            border-bottom: 1px solid $tableBorderColor !important;
          }
        }
      }
    }    
  }
  
  @include onTablet {
    .container {
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
  }
}