.flex {
  display: flex;
  &-column { flex-direction: column; }
}

.display-grid { display: grid; }

.justify {
  &-center { justify-content: center }
  &-between { justify-content: space-between }
  &-around { justify-content: space-around }
}

.gap {
  &-base { gap: 2rem; }
}