* {
  padding: 0;
  margin: 0;
  
  &::before,
  &::after {
    box-sizing: inherit;
  };
  
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;

  @include onMobile {
    font-size: 56%;
  }
}

html,
body {
  // height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
}

[disabled] {
  opacity: 0.7;
  cursor: not-allowed;
}

button {
  cursor: pointer;
  border: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  
  tr {
    &:hover {
      background-color: $lightBlue;
    }
  }

  td {
    &:first-child{
      width: 50%;
    }

    padding: 4px 0;
    border-top: 1px solid $tableBorderColor !important;
    border-bottom: 1px solid $tableBorderColor !important;
    cursor: default;
  }

  .borderless {
    tr {
      border: none;

      &:last-child {
        td {
          border-bottom: none !important;
        }
      }
    }

    td {
      border-top: none !important;
      border-bottom: 1px solid $tableBorderColor !important;
    }
  }
}