.spacing {
  &-top {
    &-md { padding-top: 1.6rem; }
    &-lg { padding-top: 1.8rem; }
    &-xl { padding-top: 2rem; }
    &-5xl { padding-top: 4.8rem; }
  }

  &-bottom {
    &-md { padding-bottom: 1.6rem; }
    &-lg { padding-bottom: 1.8rem; }
    &-xl { padding-bottom: 2rem; }
    &-5xl { padding-bottom: 4.8rem; }
  }

  &-side {
    &-md { padding-left: 1.6rem; padding-right: 1.6rem; }
    &-lg { padding-left: 1.8rem; padding-right: 1.8rem; }
    &-xl { padding-left: 2rem; padding-right: 2rem; }
    &-5xl { padding-left: 4.8rem; padding-right: 4.8rem; }
  }
}